@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    font-family:  sans-serif;
  }
.data-table-wrapper {
    width: 100%; /* Adjust the value as per your requirement */
    margin: 0; /* Optional: Centers the table horizontally */
  }
  .cell-with-multiline-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /* overflow:/ */
    /* text-overflow: ellipsis; */
    text-align: left;
    white-space: normal;
    height: auto;
    line-height: 1.2em; /* Adjust this value based on your font size to control the height of each line */
    max-height: calc(1.2em * 4); /* This ensures the height does not exceed 4 lines */
  }
  .label-width {
    min-width: 150px; /* Adjust this width as needed */
  }
